
@use "sass:color";

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as mx;

footer {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.footer-image {
  width: 100%;
  display: block;
}

.footer-bg {
  background-color: var(--foreground);
}

.footer-container {
  display: flex;
  flex-direction: column;
  font-size: .875em;
  color: color.adjust($background, $alpha: -0.3);

  @include mx.mq ($medium) {
    flex-direction: row;
    flex-wrap: wrap;

    .about-links, .quick-links, .footer-services, .footer-contact {
      flex-basis: 25%;
    }
    
    .site-info {
      flex-basis: 100%;
    }
  }

  a {
    text-decoration: none;
    color: currentColor;
  }
  
  a:hover,
  a:focus {
    text-decoration: underline;
    color: color.adjust($background, $alpha: -0);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  > div {
    margin-bottom: calc(var(--spacer) * 2);
  }
}

.footer-heading {
  line-height: 1.7;
  padding: var(--spacer) 0;
  font-size: 1.4em;
}

.link-list {
  display: flex;
  flex-direction: column;
}

.link-item {
  line-height: 1.5;
  margin: calc(var(--spacer) / 4) 0;

  @include mx.mq ($medium) {
    line-height: 2.3;
  }
}

.link-item a {
  color: color.adjust($background, $alpha: -0.3);
  transition: all 70ms ease-in;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
}

.contact-method {
  display: flex;
  flex-direction: row;

  i[class*="bx"] {
    line-height: 1.2;
    font-size: calc(var(--fz-icon) * 1.5);
  }

  .contact-way {
    padding: .25em .75em;
    font-size: 0.875em;
  }
}

.site-info {
  text-align: center;
  font-size: 0.75em;
  color: color.adjust($background, $alpha: -0.7);
}
